<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="testKey" value="testValue1" />
  </appSettings>
  <system.net>
    <defaultProxy>
      <proxy proxyaddress="http://localhost.foodception.com:8888" bypassonlocal="false" />
    </defaultProxy>
    <connectionManagement>
      <clear />
      <add address="*" maxconnection="100" />
    </connectionManagement>
  </system.net>
</configuration>